<input type="hidden" id="playSpeech" th:value="*{playSpeech}" />

<script type="text/javascript" th:unless="*{manualLeartingMode}">
	
var seconds = '[[${@environment.getProperty('authomaticLearingMode.time')}]]';	
$("#previous").hide();
$("#next").hide();
$("#nextCard").hide();
$("#playWord").hide();
$("#playSentence").hide();

var disabled = $('#next').attr('disabled') == "disabled";
var playSpeech = $('#playSpeech').val();
if (playSpeech) {
	$("#playWord")[0].click();	
}

(function countdown() {	
	if(seconds == 0 && !disabled) {							
		$("#next")[0].click();		
	}
	if(seconds == 0 && disabled) {							
		$("#valid")[0].click();
	}
    if(seconds --> 0) setTimeout(countdown, 1000)
})();

</script>	