<input type="hidden" id="playSpeech" th:value="*{playSpeech}" />

<script type="text/javascript" th:unless="*{manualLeartingMode}" th:if="*{playSpeech}">


$("#previous").hide();
$("#next").hide();
$("#nextCard").hide();
$("#playWord").hide();
$("#playSentence").hide();

async function AuthomaticSpeechAction() {
	var ms = '[[${@environment.getProperty('authomaticSpeechAction.time')}]]' * 1000;
	playViaGoogle("word", "wordLanguageCode");
	await sleep(ms);
	playViaGoogle("sentence", "sentenceLanguageCode");
	await sleep(ms);
	clickNext();    
}   
AuthomaticSpeechAction()


</script>	