<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Karty</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/jquery-1.9.1.js}"></script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/script.js}"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>	
  	
  	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	
	<!-- Selectpicker -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

  				
</head>

<body class="bg">

	<nav class="navbar navbar-fixed-top navbar-color">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Chris Cards</a>
	    </div>
	  </div>
	</nav>	
	
	<div class="container container-margin" th:object="${command}">
		<div class="row">		
		    <div class="col-md column h-25">
				
				<form action="/addCard" method="post">	
					    
					<fieldset class="scheduler-border">
					    <legend class="scheduler-border">Katetoria</legend>
					    <div class="control-group">
						    <select class="selectpicker" data-live-search="true" title="Wybierz kategorię ..." th:disabled="*{#lists.isEmpty(categories)}" th:field="*{selectedCategory}">
						  		<option th:each="category : *{categories}" th:value="${category.name}" th:text="${category.name}"/>	
							</select>
							<p th:if="${#fields.hasErrors('selectedCategory')}" th:errors="*{selectedCategory}" class="error">Error</p>
							<div>
								<a href="/newCategory?redirect=newCard">Dodaj kategorię</a>
							</div>
					    </div>
					</fieldset>
					
					<fieldset class="scheduler-border">
					    <legend class="scheduler-border">Język Polski</legend>
					    <div class="control-group">
					    	<div class="form-group">
					    		<label for="polishWord">* Słowo:</label>
	      						<input class="form-control input-lg" id="polishWord" type="text" th:field="*{polishWord}">
	      						<p th:if="${#fields.hasErrors('polishWord')}" th:errors="*{polishWord}" class="error">Error</p>
					    	</div>
					    	<div class="form-group">
					    		<label for="polishWordPrononciation" class="prononciation">Wymowa słowa:</label>
	      						<input class="form-control input-lg prononciation" id="polishWordPrononciation" type="text" th:field="*{polishWordPrononciation}">
					    	</div>
					    	<div class="form-group">
					    		<label for="polishSentence">* Zdanie:</label>
	      						<input class="form-control input-lg" id="polishSentence" type="text" th:field="*{polishSentence}">
	      						<p th:if="${#fields.hasErrors('polishSentence')}" th:errors="*{polishSentence}" class="error">Error</p>
					    	</div>
					    	<div class="form-group">
					    		<label for="polishSentencePrononciation" class="prononciation">Wymowa zdania:</label>
	      						<input class="form-control input-lg prononciation" id="polishSentencePrononciation" type="text" th:field="*{polishSentencePrononciation}">
					    	</div>
					    </div>
					</fieldset>
					
					<fieldset class="scheduler-border">
					    <legend class="scheduler-border">Język Angielski</legend>
					    <div class="control-group">
					    	<div class="form-group">
					    		<label for="englishWord">* Słowo:</label>
	      						<input class="form-control input-lg" id="englishWord" type="text" th:field="*{englishWord}">
	      						<p th:if="${#fields.hasErrors('englishWord')}" th:errors="*{englishWord}" class="error">Error</p>
					    	</div>
					    	<div class="form-group">
					    		<label for="englishWordPrononciation" class="prononciation">Wymowa słowa:</label>
	      						<input class="form-control input-lg prononciation" id="englishWordPrononciation" type="text" th:field="*{englishWordPrononciation}">
					    	</div>
					    	<div class="form-group">
					    		<label for="englishSentence">* Zdanie:</label>
	      						<input class="form-control input-lg" id="englishSentence" type="text" th:field="*{englishSentence}">
	      						<p th:if="${#fields.hasErrors('englishSentence')}" th:errors="*{englishSentence}" class="error">Error</p>
					    	</div>
					    	<div class="form-group">
					    		<label for="englishSentencePrononciation" class="prononciation">Wymowa zdania:</label>
	      						<input class="form-control input-lg prononciation" id="englishSentencePrononciation" type="text" th:field="*{englishSentencePrononciation}">
					    	</div>
					    </div>
					</fieldset>
					
					<fieldset class="scheduler-border">
					    <legend class="scheduler-border">Język Rosyjski</legend>
					    <div class="control-group">
					    	<div class="form-group">
					    		<label for="russianWord">* Słowo:</label>
	      						<input class="form-control input-lg" id="russianWord" type="text" th:field="*{russianWord}">
	      						<p th:if="${#fields.hasErrors('russianWord')}" th:errors="*{russianWord}" class="error">Error</p>
					    	</div>
					    	<div class="form-group">
					    		<label for="russianWordPrononciation" class="prononciation">Wymowa słowa:</label>
	      						<input class="form-control input-lg prononciation" id="russianWordPrononciation" type="text" th:field="*{russianWordPrononciation}">
					    	</div>
					    	<div class="form-group">
					    		<label for="russianSentence">* Zdanie:</label>
	      						<input class="form-control input-lg" id="russianSentence" type="text" th:field="*{russianSentence}">
	      						<p th:if="${#fields.hasErrors('russianSentence')}" th:errors="*{russianSentence}" class="error">Error</p>
					    	</div>
					    	<div class="form-group">
					    		<label for="russianSentencePrononciation" class="prononciation">Wymowa zdania:</label>
	      						<input class="form-control input-lg prononciation" id="russianSentencePrononciation" type="text" th:field="*{russianSentencePrononciation}">
					    	</div>
					    </div>
					</fieldset>
					
					<fieldset class="scheduler-border">
					    <legend class="scheduler-border">Język Hiszpański</legend>
					    <div class="control-group">
					    	<div class="form-group">
					    		<label for="spainWord">* Słowo:</label>
	      						<input class="form-control input-lg" id="spainWord" type="text" th:field="*{spainWord}">
	      						<p th:if="${#fields.hasErrors('spainWord')}" th:errors="*{spainWord}" class="error">Error</p>
					    	</div>
					    	<div class="form-group">
					    		<label for="spainWordPrononciation" class="prononciation">Wymowa słowa:</label>
	      						<input class="form-control input-lg prononciation" id="spainWordPrononciation" type="text" th:field="*{spainWordPrononciation}">
					    	</div>
					    	<div class="form-group">
					    		<label for="spainSentence">* Zdanie:</label>
	      						<input class="form-control input-lg" id="spainSentence" type="text" th:field="*{spainSentence}">
	      						<p th:if="${#fields.hasErrors('spainSentence')}" th:errors="*{spainSentence}" class="error">Error</p>
					    	</div>
					    	<div class="form-group">
					    		<label for="spainSentencePrononciation" class="prononciation">Wymowa zdania:</label>
	      						<input class="form-control input-lg prononciation" id="spainSentencePrononciation" type="text" th:field="*{spainSentencePrononciation}">
					    	</div>
					    </div>
					</fieldset>
					
					<fieldset class="scheduler-border">
					    <legend class="scheduler-border">Język Niemiecki</legend>
					    <div class="control-group">
					    	<div class="form-group">
					    		<label for="germanWord">* Słowo:</label>
	      						<input class="form-control input-lg" id="germanWord" type="text" th:field="*{germanWord}">
	      						<p th:if="${#fields.hasErrors('germanWord')}" th:errors="*{germanWord}" class="error">Error</p>
					    	</div>
					    	<div class="form-group">
					    		<label for="germanWordPrononciation" class="prononciation">Wymowa słowa:</label>
	      						<input class="form-control input-lg prononciation" id="germanWordPrononciation" type="text" th:field="*{germanWordPrononciation}">
					    	</div>
					    	<div class="form-group">
					    		<label for="germanSentence">* Zdanie:</label>
	      						<input class="form-control input-lg" id="germanSentence" type="text" th:field="*{germanSentence}">
	      						<p th:if="${#fields.hasErrors('germanSentence')}" th:errors="*{germanSentence}" class="error">Error</p>
					    	</div>
					    	<div class="form-group">
					    		<label for="germanSentencePrononciation" class="prononciation">Wymowa zdania:</label>
	      						<input class="form-control input-lg prononciation" id="germanSentencePrononciation" type="text" th:field="*{germanSentencePrononciation}">
					    	</div>
					    </div>
					</fieldset>
					
					<button type="submit" class="btn btn-default btn-lg">Zapisz</button>
					<a class="btn btn-default btn-lg" href="/cards">Powrót</a>
					
				</form>
				
			</div>
		</div>    
	</div>

</body>
</html>