<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<header th:replace="common/header"/>
</head>

<body class="bg" onload="showLearnigRepeat('MANUAL');">

	<navbar th:replace="common/navbar"/>	
	
	<div class="container container-margin" th:object="${command}">
		<div class="row">		
		    <div class="col-md column h-25">
		    	<h1>Configuracja Nauki</h1>
		    				
				<form id="learningForm" method="post">
				
					<fieldset class="scheduler-border">
					    <legend class="scheduler-border">Talie</legend>
					    <label for="deckCount">* Wybór Talii:</label>
					    <div th:each="deck : *{decks}">
							<div class="checkbox">					    	
						    	<input type="checkbox" th:value="${deck.id}"/>
						    	<label th:text="${deck.name}"></label>
						    </div>
					    </div>
					    
					    <div class="container-pagination">
							<ul class="pager">
							    <li th:if="*{disablePrevious}" class="previous disabled"><a href="#">Previous</a></li>
							    <li th:unless="*{disablePrevious}" class="previous"><a th:href="@{/learning?currentPage={page}(page=*{currentPage} - 1)}">Previous</a></li>
							</ul>
							<ul class="pagination" th:each="page : *{pages}">					
							    <li th:if="${#strings.equals(page, #strings.toString(command.currentPage))}" class="active"><a href="#" th:text="${page}"></a></li>
								<li th:unless="${#strings.equals(page, #strings.toString(command.currentPage))}"><a th:href="@{/learning?currentPage={page}(page=${page})}" th:text="${page}"></a></li>
						    </ul>
						    <ul class="pager">
						      <li th:if="*{disableNext}" class="next disabled"><a href="#">Next</a></li>
						      <li th:unless="*{disableNext}" class="next"><a th:href="@{/learning?currentPage={page}(page=*{currentPage} + 1)}">Next</a></li>
					 	    </ul>
						</div>												 
					</fieldset>
					
					<fieldset class="scheduler-border">
					    <legend class="scheduler-border">* Tryb Nauki</legend>
					    <div class="radio">
				    		<label><input type="radio" th:field="*{selectedLearningMode}" value="MANUAL" onclick="showLearnigRepeat('MANUAL');">Manualny Tryb Nauki</label>
				    	</div>	
				    	<div class="checkbox manualCheckboxes">
				    		<label class="learningModeCheckbox"><input type="checkbox" th:field="*{manualLearningModeRepeat}" value="true">Powtarzaj do skutku</label>
				    	</div>
				    	
				    	<div class="radio">	
				    		<label><input type="radio" th:field="*{selectedLearningMode}" value="AUTHOMATIC" onclick="showLearnigRepeat('AUTHOMATIC');">Automatyczny Tryb Nauki</label>
				    	</div>	
				    	<div class="checkbox authomaticCheckboxes">
				    		<label class="learningModeCheckbox"><input type="checkbox" th:field="*{authomaticLearningModeRepeat}" value="true">Zapętlaj</label>
				    		<label><input type="checkbox" th:field="*{playSpeech}" value="true">Odtwarzaj głos</label>
				    	</div>
					</fieldset>    
					
					<div class="btn-group btn-group-justified btn-group-lg">
						<a href="#" class="btn btn-default btn-lg" onClick="submitAction('learningForm', '/learning/run')">Uruchom</button>
						<a class="btn btn-default btn-lg" href="/home">Anuluj</a>						
					</div>
				
				</form>
				
			</div>
		</div>			
	</div>

<footer th:replace="common/footer"/>
</body>
</html>