<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<header th:replace="common/header"/>
</head>

<body class="bg" onload="showLearnigRepeat('MANUAL');">

	<navbar th:replace="common/navbar"/>	
	
	<div class="container container-margin" th:object="${command}">
		<div class="row">		
		    <div class="col-md column h-25">
		    				
				<form id="learningForm" method="post">
				
					<fieldset class="scheduler-border">
					    <legend class="scheduler-border">Talie</legend>
					    <div class="control-group">
					    	
					    	<div class="form-group">
							    <label for="deckCount">* Ilość Talii:</label>
							    <select class="form-control" th:field="*{deckCount}">
							    	<option th:each="i : ${#numbers.sequence(1, 10)}" th:value="${i}" th:text="${i}" ></option>
							    </select>
							</div>
							
							<div class="radio">
						  		<label><input type="radio" name="optradio2" checked>Najnowsze Talie</label>
							</div>
							
					    </div>
					</fieldset>
					
					<fieldset class="scheduler-border">
					    <legend class="scheduler-border">* Tryb Nauki</legend>
					    <div class="radio">
				    		<label><input type="radio" th:field="*{selectedLearningMode}" value="MANUAL" onclick="showLearnigRepeat('MANUAL');">Manualny Tryb Nauki</label>
				    	</div>	
				    	<div class="checkbox manualCheckboxes">
				    		<label class="learningModeCheckbox"><input type="checkbox" th:field="*{manualLearningModeRepeat}" value="true">Powtarzaj do skutku</label>
				    	</div>
				    	
				    	<div class="radio">	
				    		<label><input type="radio" th:field="*{selectedLearningMode}" value="AUTHOMATIC" onclick="showLearnigRepeat('AUTHOMATIC');">Automatyczny Tryb Nauki</label>
				    	</div>	
				    	<div class="checkbox authomaticCheckboxes">
				    		<label class="learningModeCheckbox"><input type="checkbox" th:field="*{authomaticLearningModeRepeat}" value="true">Zapętlaj</label>
				    		<label><input type="checkbox" th:field="*{playSpeech}" value="true">Odtwarzaj głos</label>
				    	</div>
					</fieldset>    
					
					<div class="btn-group btn-group-justified btn-group-lg">
						<a href="#" class="btn btn-default btn-lg" onClick="submitAction('learningForm', '/learning/run')">Uruchom</button>
						<a class="btn btn-default btn-lg" href="/home">Anuluj</a>						
					</div>
				
				</form>
				
			</div>
		</div>			
	</div>

<footer th:replace="common/footer"/>
</body>
</html>