<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<header th:replace="common/header"/>
</head>

<body class="bg">

	<navbar th:replace="common/navbar"/>	
	
	<div class="container container-margin" th:object="${command}">
		<div class="row">		
		    <div class="col-md column h-25">
		    				
				<div>Wszystkich kart: <span th:text="*{cardsCount}"/></div>
				<div th:if="*{manualLeartingMode}">Poprawnych kart: <span th:text="*{validCardsCount}"/></div>
				<div th:if="*{manualLeartingMode}">Niepoprawnych kart: <span th:text="*{notValidCardsCount}"/></div>
				<div th:if="*{manualLeartingMode}">Pominiętych kart: <span th:text="*{skippedCardsCount}"/></div>
				
				<div class="btn-group btn-group-justified btn-group-lg">
					<a class="btn btn-default btn-lg" href="/home">Zakończ</a>
					<a id="repeat" class="btn btn-default btn-lg" href="/resultLearning/repeat">Powtórz</a>
				</div>
							
			</div>
		</div>			
	</div>

<footer th:replace="common/footer"/>
</body>
</html>