<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Nauka</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/jquery-1.9.1.js}"></script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/script.js}"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  	
  	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">				
</head>

<body class="bg">

	<nav class="navbar navbar-fixed-top navbar-color">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Chris Cards</a>
	    </div>
	  </div>
	</nav>	
	
	<div class="container container-margin" th:object="${command}">
		<div class="row">		
		    <div class="col-md column h-25">
		    				
				<div>Wszystkich kart: <span th:text="*{cardsCount}"/></div>
				<div id="validCardsCount">Poprawnych kart: <span th:text="*{validCardsCount}"/></div>
				<div id="notValidCardsCount">Niepoprawnych kart: <span th:text="*{notValidCardsCount}"/></div>
				<div id="skippedCardsCount">Pominiętych kart: <span th:text="*{skippedCardsCount}"/></div>
				
				<div>
					<a class="btn btn-default btn-lg" href="/learning">Zakończ</a>
					<a id="repeat" class="btn btn-default btn-lg" href="/resultLearning/repeat">Powtórz</a>
				</div>
				
				<script type="text/javascript" th:unless="*{manualLeartingMode}">
					$("#validCardsCount").hide();
					$("#notValidCardsCount").hide();
					$("#skippedCardsCount").hide();
				</script>			
							
			</div>
		</div>			
	</div>

</body>
</html>