<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Nauka</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/jquery-1.9.1.js}"></script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/script.js}"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  	
  	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">				
</head>

<body class="bg">

	<nav class="navbar navbar-fixed-top navbar-color">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Chris Cards</a>
	    </div>
	  </div>
	</nav>	
	
	<div class="container container-margin" th:object="${command}">
		<div class="row">		
		    <div class="col-md column h-25">
		    				
				<p class="text-center">
					<span th:text="*{cardNumber}"/> / <span th:text="*{cardCount}"/>
				</p>
				
				<fieldset class="scheduler-border">
					<legend class="scheduler-border"><span th:text="*{word.language.displayText}"/></legend>
					<div class="control-group">
						<div th:text="*{word.word}"/>
						<div th:text="*{word.wordPrononciation}"/>
					   </div>
				</fieldset>
				
				<div>
					<a class="btn btn-default btn-lg" th:href="@{/runLearning/run?cardNumber={cardNumber}&cardCount={cardCount}&wordNumber={wordNumber}(cardNumber=*{cardNumber},cardCount=*{cardCount},wordNumber=*{wordNumber} - 1,selectedLearningMode=*{selectedLearningMode})}" th:disabled="*{firstWord}" th:classappend="*{firstWord} ? not-active : active">Poprzedni</a>	
					<a class="btn btn-default btn-lg" href="/learning">Zakończ</a>
					<a class="btn btn-default btn-lg" th:href="@{/runLearning/run?cardNumber={cardNumber}&cardCount={cardCount}&wordNumber={wordNumber}(cardNumber=*{cardNumber},cardCount=*{cardCount},wordNumber=*{wordNumber} + 1,selectedLearningMode=*{selectedLearningMode})}" th:disabled="*{lastWord}" th:classappend="*{lastWord} ? not-active : active">Następny</a>						
				</div>	
				
				<br/>
				
				<div th:if="*{lastWord}">
					<a class="btn btn-default btn-lg" th:href="@{/runLearning/run?cardNumber={cardNumber}&cardCount={cardCount}&wordNumber={wordNumber}(cardNumber=*{cardNumber} + 1,cardCount=*{cardCount},wordNumber=1,selectedLearningMode=*{selectedLearningMode})}" >Nie całkiem</a>	
					<a class="btn btn-default btn-lg" th:href="@{/runLearning/run?cardNumber={cardNumber}&cardCount={cardCount}&wordNumber={wordNumber}(cardNumber=*{cardNumber} + 1,cardCount=*{cardCount},wordNumber=1,selectedLearningMode=*{selectedLearningMode})}" >Mam to</a>						
				</div>				
				
			</div>
		</div>			
	</div>

</body>
</html>