.column {
	background-color: white;
	margin: 10px;
	border-radius: 25px;
	border-style: solid;
	height: 80vh;
	padding: 100px;
}

.container-margin {
	margin-top:100px;
}

.panel-main {
	cursor: pointer;
}