body, html {
  height: 100%;
}

.bg { 
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.column {
	background-color: white;
	margin: 10px;
	border-radius: 25px;
	border-style: solid;
}

.container-margin {
	margin-top:150px;
}

.navbar-color {
	background-color: white;
}