<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Karty</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/jquery-1.9.1.js}"></script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/script.js}"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>	
  	
  	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  				
</head>

<body class="bg">

	<nav class="navbar navbar-fixed-top navbar-color">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Chris Cards</a>
	    </div>
	  </div>
	</nav>	
	
	<div class="container container-margin" th:object="${command}">
		<div class="row">		
		    <div class="col-md column h-25">
		    
				<div class="panel panel-default panel-main" onclick="redirect('/cards/add')">
					<h3 class="panel-body">Stwórz karty z nowymi słowami do nauki.</h3>
				</div>  			    
			    
				<div class="panel panel-default panel-main" onclick="redirect('/learning')">
					<h3 class="panel-body">Rozpocznij naukę nowych słówek.</h3>
				</div>
				
				<div class="panel panel-default panel-main" onclick="redirect('/more')">
					<h3 class="panel-body">Korzystaj z dodatkowych opcji tj. edycja kart  czy talii. Edytuj swoje ustawienia.</h3>
				</div>
				
				<div class="btn-group btn-group-justified btn-group-lg">
				  <a href="/cards" class="btn btn-secondary"><i class="fas fa-layer-group fa-6x"></i> <br/> Karty</a>
				  <a href="/learning" class="btn btn-secondary"><i class="fa fa-graduation-cap fa-6x"></i> <br/> Nauka</a>
				  <a href="/more" class="btn btn-secondary"><i class="fa fa-bars fa-6x"></i> <br/> Więcej</a>
				</div>
									
			</div>
		    		    
		</div>    
	</div>

</body>
</html>