<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<header th:replace="common/header"/>
</head>

<body class="bg">

	<navbar th:replace="common/navbar"/>	
	
	<div class="container container-margin" th:object="${command}">
		<div class="row">		
		    <div class="col-md column h-25">
		    	<h1>Menu</h1>
		    
				<div class="panel panel-default panel-main" onclick="redirect('/cards/add')">
					<h3 class="panel-body">Stwórz karty z nowymi słowami do nauki.</h3>
				</div>  			    
			    
				<div class="panel panel-default panel-main" onclick="redirect('/learning')">
					<h3 class="panel-body">Rozpocznij naukę nowych słówek.</h3>
				</div>
				
				<div class="panel panel-default panel-main" onclick="redirect('/more')">
					<h3 class="panel-body">Korzystaj z dodatkowych opcji tj. edycja kart  czy talii. Edytuj swoje ustawienia.</h3>
				</div>
				
				<div class="btn-group btn-group-justified btn-group-lg">
				  <a href="/cards" class="btn btn-secondary"><i class="fas fa-layer-group fa-6x"></i> <br/> Karty</a>
				  <a href="/learning" class="btn btn-secondary"><i class="fa fa-graduation-cap fa-6x"></i> <br/> Nauka</a>
				  <a href="/more" class="btn btn-secondary"><i class="fa fa-bars fa-6x"></i> <br/> Więcej</a>
				</div>
									
			</div>
		    		    
		</div>    
	</div>

<footer th:replace="common/footer"/>
</body>
</html>